.transactionHistory {
  outline-style: dotted;

  font-size: 16px;
  box-shadow: 0px 5px 11px -3px rgba(179, 179, 179, 1);
}

thead {
  color: #fcfcfc;
  background-color: #55bad2;
}

thead tr th {
  padding: 15px 35px;
}
